body {
	background: blue;
	background-image:url("this guy.jpg");
	color:white;
}
h1{
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	text-shadow: 3px 2px black;
}
.video{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
a:link{
	color: #2b8aad
}
a:visited{
	color: #b76698
}
a:hover{
	color: #65aab7
}